/*custom font*/
@font-face {
	font-family: 'Gameplay';
	src: url('fonts/Gameplay/gameplay-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*end custom Font*/

html {
	background-color: black;
}

body
{
	font-family : Tahoma;
}




.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border: 5px solid #c3073f;
	color: #c3073f;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0.5px;
	box-sizing: border-box;
}

.videobox
{
	text-align :center;
}

.content_area
{
	border-top : 4px solid #c3073f;
	border-bottom : 4px solid #c3073f;
}

.main_heading
{
	font-family : Gameplay, Georgia;
}